:root {
  --primary: hsl(226, 68%, 50%);
  --secondary: hsl(225, 25%, 67%);
  --success: hsl(123, 68%, 44%);
  --failure: hsl(2, 88%, 44%);
  --spacing-xs: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-md: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xl: 2rem;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: var(--spacing-md);
}

.nav__buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.login {
  flex: 1 1 100%;
  text-align: end;
  margin-bottom: var(--spacing-small);
}

.search {
  order: 3;
  flex: 1 1 100%;
  text-align: center;
}

#search {
  padding: var(--spacing-xs) var(--spacing-md);
}

.menu {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  margin: var(--spacing-large) 0;
  display: flex;
  justify-content: space-around;
}

.breadcrumbs {
  font-size: 0.75rem;
  color: rgb(95, 81, 81);
  margin: 0 var(--spacing-md);
}

.filter {
  margin: var(--spacing-xs) var(--spacing-md);
  padding: var(--spacing-xs) var(--spacing-md);
  border: 1px solid gray;
  border-radius: 0.25rem;
}

/* CAROUSEL STYLES  */

.carousel-container {
  margin: var(--spacing-xl) auto;
  max-width: 100%;
}

.carousel-container__item {
  width: 100%;
  max-height: 26rem;
  object-fit: cover;
}

/* Items styles */

.items-container {
  margin: var(--spacing-md);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: var(--spacing-xs);
}

.items-container__item {
  border: 1px solid gray;
  min-height: 10rem;
  min-width: 10rem;
  object-fit: contain;
}

.item {
  max-width: 100%;
}

.information {
  display: flex;
  justify-content: space-around;
}

.footer-container {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary);
  padding: 2rem 0;
}

@media (min-width: 688px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel-container {
    margin: 2.5rem auto;
    max-width: 70%;
  }

  .nav__logo {
    margin-top: 0.5rem;
    flex: 3;
  }

  .nav__buttons {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    flex: 2;
  }

  .login {
    flex: 1;
    order: 2;
    margin-top: 0.5rem;
  }

  .search {
    order: 1;
  }
}

@media (min-width: 992px) {
  .items-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .carousel-container {
    max-width: 60%;
  }

  .nav__logo {
    flex: 6;
  }

  .nav__buttons {
    flex: 3;
  }
}
